header {
    width: 100%;
    background-color: #2a282b;
    padding: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif, Arial, Helvetica, sans-serif;
    position: fixed;
    border-bottom: 1px solid black;
}

header h3 {
    width: 50%;
    align-self: center;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.font {
    text-align: right;
}

@media only screen and (min-width: 800px) {
    header {
        position: relative;
    }

    .font {
        display: none;
    }
}