.paragraph {
    display: flex;
    flex-direction: column;
}

.paragraph a {
    width: 50%;
    color: white;
    margin: 5px auto 5px auto;
    background-color: black;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
}