.navlinks {
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow-y: hidden;
  transition: height 500ms ease-out;
}

.isVisible {
    height: 240px;
}

.navlinks a {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 50%;
  color: #35382e;
  margin: 5px auto 5px auto;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px white;
  text-align: center;
  text-decoration: none;
}