.projectContainer {
    border: 1px solid #083e00;
    background-color: #0000006e;
    border-radius: 2em;
    margin: 5px;
}

.projectContainer:hover {
    cursor: pointer;
}

.projectContainer img {
    margin: 0 auto;
    display: block;
    border-radius: 2em;
    width: 70%;
}

.projectContainer h1 {
    display: inline;
    text-align: center;
}

.hidden {
    margin-top: 40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.projectContainer:hover > .hidden {
    opacity: 1;
}